.search-form {
  text-align: center;
  margin-top: 20px;
}

input,
button {
  padding: 10px;
}

input {
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  width: 300px;
}

button {
  border-radius: 26px;
  margin-left: -30px;
}