.login-form {
  margin: auto;
  margin-top: 20vh;
  background-color: beige;
  width: 30vw;
  padding: 20px;
}

.login-form h3 {
  text-align: center;
}

.login-form input {
  padding: 2px;
  border: gray solid 2px;
  border-radius: 0;
  width: 100%;
  margin-bottom: 10px;
}

.login-form div {
  width: 100%;
}

.login-form button {
  margin-left: 0px;
  margin-top: 10px;
  padding: 6px 10px;
  border-radius: 0;
}